<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projetos Feitos</title>
  <link rel="icon" type="image/x-icon" href="/Assets/icons/logo wg.png">
  <link rel="stylesheet" href="projetos.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div id="header-placeholder"></div>

    <div id="back">
        <a id="button-back" onclick="window.history.go(-1)">
            <img src="/assets/icons/seta voltar (2).png" alt="Voltar a página anterior">
        </a>
    </div>

  <section class="projects-section" data-aos="fade-up">
    <h1 class="section-title">Projetos Realizados</h1>
    <p class="section-subtitle">Confira alguns dos meus projetos mais recentes, com designs exclusivos e soluções criativas para os meus clientes.</p>
    
    <div class="projects-container">
      <div class="project-card" data-aos="fade-right">
        <img src="/Assets/imagens/img-Essencia 1.png" alt="Projeto 1" class="project-image">
        <div class="project-info">
          <h2 class="project-title">Projeto 1: Criação do site Essência Tropical</h2>
          <p class="project-description">Criação de um site completo com design responsivo e otimizado para diversos dispositivos.</p>
          <button class="view-details" onclick="viewProject(1)">Ver Detalhes</button>
        </div>
      </div>
    
      <div class="project-card" data-aos="fade-left">
        <img src="/Assets/icons/logo-easy 2.png" alt="Projeto 2" class="project-image">
        <div class="project-info">
          <h2 class="project-title">Projeto 2: Easy sites solutions</h2>
          <p class="project-description">Desenvolvimento de uma agência de sites e mídia digital, otimização de tempo e custo benefício no mercado digital.</p>
          <button class="view-details" onclick="viewProject(2)">Ver Detalhes</button>
        </div>
      </div>
    
      <div class="project-card" data-aos="fade-right">
        <img src="/Assets/icons/logo wg 3.png" alt="Projeto 3" class="project-image">
        <div class="project-info">
          <h2 class="project-title">Projeto 3: Identidade visual WG - Designer</h2>
          <p class="project-description">Crio identidade visual para sua empresa, social mídia e artes para sua empresa com agilidade e facilidade em curto prazo.</p>
          <button class="view-details" onclick="viewProject(3)">Ver Detalhes</button>
        </div>
      </div>
    
      <div class="project-card" data-aos="fade-left">
        <img src="/Assets/imagens/cart-1.JPG" alt="Projeto 4" class="project-image">
        <div class="project-info">
          <h2 class="project-title">Projeto 4: Assistência Técnica Eter Tech</h2>
          <p class="project-description">Desenvolvimento da identidade visual da Assistência Técnica Eter Tech, cartões de vista, logo.</p>
          <button class="view-details" onclick="viewProject(4)">Ver Detalhes</button>
        </div>
      </div>
    
      <div class="project-card" data-aos="fade-right">
        <img src="/Assets/icons/logo-ovos.JPG" alt="Projeto 5" class="project-image">
        <div class="project-info">
          <h2 class="project-title">Projeto 5: Granja Ovos Cirilo</h2>
          <p class="project-description">Desenvolvimento da identidade visual da Granja Ovos Cirilo, cartões de vista, logo.</p>
          <button class="view-details" onclick="viewProject(5)">Ver Detalhes</button>
        </div>
      </div>
    
      <div class="project-card" data-aos="fade-left">
        <img src="/Assets/imagens/jr-img.jpg" alt="Projeto 6" class="project-image">
        <div class="project-info">
          <h2 class="project-title">Projeto 6: JR Premoldados Materiais de contrução</h2>
          <p class="project-description">Desenvolvimento da identidade visual da JR Premoldados, cartões de visita.</p>
          <button class="view-details" onclick="viewProject(6)">Ver Detalhes</button>
        </div>
      </div>
    </div>
    
  </section>

  <section class="art-section" data-aos="zoom-in">
    <h2 class="section-title">Artes Criativas</h2>
    <p class="section-subtitle">Veja algumas das artes que desenvolvi para o projeto do curso, escolhi o produto trident.</p>
    <div class="art-container">
      <a href="/Assets/imagens/trident 1.PNG" target="_blank" data-aos="fade-up">
        <img src="/Assets/imagens/trident 1.PNG" alt="Arte 1" class="art-image">
      </a>
      <a href="/Assets/imagens/trident 2.PNG" target="_blank" data-aos="fade-up">
        <img src="/Assets/imagens/trident 2.PNG" alt="Arte 2" class="art-image">
      </a>
      <a href="/Assets/imagens/treident 3.PNG" target="_blank" data-aos="fade-up">
        <img src="/Assets/imagens/treident 3.PNG" alt="Arte 3" class="art-image">
      </a>
    </div>
  </section>
  
  <section class="video-section" data-aos="fade-up">
    <h2 class="section-title">Motion das artes</h2>
    <div class="video-container">
      <video controls width="320" height="240" poster="/Assets/imagens/trident 1.PNG">
        <source src="/Assets/videos/motion-post1.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
      <video controls width="320" height="240" poster="/Assets/imagens/treident 3.PNG">
        <source src="/Assets/videos/motion-2will.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
    </div>
  </section>
  
  <div class="location-section" data-aos="zoom-in">
    <h2 class="location-title">Nossa localização em Areial - PB</h2>
    <div class="map-container">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15838.604920908727!2d-35.938001350913154!3d-7.050205937231634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ae9d5741f8c9a3%3A0x7c37f5d651070261!2sAreial%2C%20PB%2C%2058140-000!5e0!3m2!1spt-BR!2sbr!4v1734813372179!5m2!1spt-BR!2sbr" 
        width="100%" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
  
  <button id="backToTop" class="back-to-top" title="Voltar ao topo">&#8679;</button>
  

  <div id="projectModal" class="modal">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <div id="modalContent" class="modal-content">
      <!-- O conteúdo do modal será atualizado com JavaScript -->
    </div>
  </div>
  <div id="footer-placeholder"></div>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init(); 
  </script>

  <script src="projetos.js"></script>
</body>
</html>
