<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Header</title>
</head>
<body>

    <a href="/Components/index.html" class="logo">
        <img src="/assets/icons/logo wg.png" alt="Logo">
    </a>        
    
    <nav id="nav-links">
        <li><a href="/Components/index.html">Home</a></li>
        <li><a href="/Components/Projetos.html">Projetos</a></li>
    </nav>

    <a href="https://github.com/Willyang10x" class="logo-git">
        <img src="/assets/icons/github.png" alt="Logo-git">
    </a>        
  </header>

</body>
</html>
