<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<footer>
    <div class="footer-container">
        <!-- Logo -->
        <a href="/Components/Home/index.html" class="footer-logo">
          <img src="/Assets/icons/logo wg.png" alt="Logo WG" class="logo-img">
          <p class="company-desc">Criando designs únicos e experiências visuais.</p>
        </a>
      
        <!-- Informações de contato -->
        <div class="footer-info">
          <p>Entre em contato:</p>
          <p><a href="mailto:example@email.com">example@email.com</a></p>
          <p><a href="tel:+5583988688864">+55 83 98868-8864</a></p>
        </div>
      
        <!-- Newsletter -->
        <div class="footer-subscribe">
          <label class="subscribe-label" for="newsletter">Assine nossa Newsletter</label>
          <form>
            <input type="email" id="newsletter" placeholder="Seu email" required>
            <button type="submit">Assinar</button>
          </form>
        </div>
      
        <!-- Redes sociais -->
        <div class="footer-social">
          <p>Me siga nas redes sociais:</p>
          <a href="https://github.com/yourusername" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/willdsg07/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/yourprofile" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      
        <!-- Copyright -->
        <div class="footer-copyright">
          <p>&copy; 2024 WG - Designer. Todos os direitos reservados.</p>
        </div>
      </div>
      
</footer>
</body>
</html>
